body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: gray;
}

form{
    
    position: relative;
    padding-left: 60px;
    margin-top: 100px;
    padding-bottom: 50px;
}

* {
  box-sizing: border-box;
  
}
.image {
  text-align: center;
  margin: 20px 0 10px 0;
}

.image img {
  width:200px;
  border-radius:30%;
}


@media (max-width:100%) { 
  form{
    
    position: relative;
    padding-left: 60px;
    margin-top: 100px;
    padding-bottom: 50px;
}

* {
  box-sizing: border-box;
  
}
.image {
  text-align: center;
  margin: 20px 0 10px 0;
}

.image img {
  width:200px;
  border-radius:30%;
}


}


  
  
  
      